In [1]:
import pandas as pd
import numpy as np

In [3]:
bills = pd.read_csv("/Users/souravghoshhansda/Library/CloudStorage/OneDrive-Personal/data_exploration_ml/Bills_UK.csv", encoding='latin-1')

In [4]:
bills.head()

,Stores,Date,Location,Cost
0,Aldi Stores,4/20/2024,"Magdalen Street, Colchester",22.70£
1,Yak & Yeti,4/18/2024,"Magdalen Street, Colchester",25.35£
2,The Store Essex University,4/19/2024,"Wivenhoe Park, Colchester",10.02£
3,KFC,4/15/2024,"High Street, Colchester",34.23£
4,Pound Land,1/26/2024,"Culver Street, East Colchester",13.50£

In [6]:
unique_stores=bills['Stores','Location'].unique().tolist()
unique_stores

['Aldi Stores',
 'Yak & Yeti',
 'The Store Essex University',
 'KFC',
 'Pound Land',
 'The Sushi CO',
 'Kitchen',
 'The Sherlock Holmes Museum',
 "Mc Donald's",
 'Tesco',
 'WH Smith',
 'Post Office Ltd',
 "Kaspa's Deserts",
 'Five Guys Burgers & Fries',
 'University of Essex SU Reception']

In [7]:
random_selection=np.random.choice(unique_stores,100000,replace=True)

In [9]:
random_selection_dataframe=pd.DataFrame(random_selection,columns=['Stores_Randomised'])
random_selection_dataframe

                Stores_Randomised
0                     Mc Donald's
1                     Mc Donald's
2                 Post Office Ltd
3                      Pound Land
4                    The Sushi CO
...                           ...
99995                 Aldi Stores
99996             Post Office Ltd
99997   Five Guys Burgers & Fries
99998  The Sherlock Holmes Museum
99999                    WH Smith

[100000 rows x 1 columns]

In [10]:
random_selection_dataframe.to_csv("/Users/souravghoshhansda/Library/CloudStorage/OneDrive-Personal/data_exploration_ml/random_selection.csv",index=False)